@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body {
    font-family: 'Jua', sans-serif;
}

*{
    box-sizing: border-box;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: rgb(34, 34, 34);

    height: 70px;
    background-color: #e7e7e7;
    border: 3px solid rgb(226, 226, 226);
    border-radius: 10px;
    font-size: 1.4rem;
}

body {
    margin: 0;
    padding: 0;
    padding: 10px;
}

main {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
}

.nav {
    display: flex;
    flex-flow: column nowrap;
    width: 130px;

    background-color: #a0a0a0;
    border-radius: 5px;
    padding: 10px;
}

.nav > span {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    flex: 1;

    background-color: #d4d4d4;
    border-radius: 5px;
    margin-left: 10px;
    align-content: flex-start;
    overflow-y: scroll;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    min-height: 200px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 5px;
}

.card > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.card > span {
    text-align: center;
    word-break: break-all;
}

@media (max-width: 1100px){
    .card{
        background: rgb(255, 240, 201);
    }
}

@media (max-width: 780px){
    .card{
        background: rgb(170, 180, 212);
    }
}



